.box {
  width: 263px;
  height: 481px;
  position: relative;
}

.box-images {
  height: 390px;
  background-size: contain;
  position: relative;
  z-index: 0;
}
.box-images:hover {
  opacity: 0.5;
}
.box:hover {
  padding: 5px;
  outline: 5px solid white;
  background-color: white;
}
