.right-div {
  width: 15%;
  display: flex;
  justify-content: space-evenly;
}
.right-div div{
  cursor: pointer;

}
.cart-color{
  color: black;
  text-decoration: none;
}
.cart-color:hover{
  color: orange;
}
@media (max-width: 740px) {
  .right-div {
    display: none;
  }
}
