.second-page {
  padding-top: 20px;
  background-color: #fcfcfc;
  padding-bottom: 10px;
}

.second-page h2 {
  text-align: center;
  font-size: 42px;
  margin-bottom: 0;
  margin-top: 0;
}

.all-boxes {
  padding: 0 18%;
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
@media (max-width: 400px) {
  .all-boxes {
    display: grid;
    grid-template-columns: repeat(auto-fill, 100%);
  }
}
