 h2 {
    opacity: 1;
    color: rgba(82, 82, 82, 1);
    font-family: "Maven Pro", sans-serif;
    font-size: 36px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0px;
    text-align: left;
    line-height: 60px;
    color: #030303;
  }